#chartsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1vw;
}

#max-bars-container,
#max-bars-container select {
  font-size: var(--font-bg);
}

.chart-wrapper {
  background: var(--color-gray-light);
  border-radius: 8px;
  padding: 1em;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 20%;
  max-width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chart-container {
  position: relative;
  min-height: 21vh;
}

.chart-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.chart-title h5 {
  text-align: center;
  margin: 0;
  display: inline-block;
  word-break: break-word;
  font-size: var(--font-xl);
}

.chart-title .question-circle {
  width: var(--font-xl);
}

#hiddenChartsMessage {
  display: none;
  margin-top: 2em;
  padding: 1em;
  font-size: var(--font-bg);
}

#hiddenChartsMessage h6 {
  font-size: var(--font-xl);
}

#table-modal,
#table-modal button {
  font-size: var(--font-md);
}

#table-modal h5 {
  font-size: var(--font-xl);
}

#table-modal th {
  font-size: var(--font-bg);
}

@media (max-width: 670px) {
  #visualization-warning {
    display: flex;
  }
}
